.blue {
    background-color: lightblue;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.yellow {
    background-color: lightyellow;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.red {
    background-color: lightcoral;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.green {
    background-color: lightgreen;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}